# ==========================
# Virtual Environment
# ==========================
OHRM_venv/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Pytest Cache
# ==========================
.pytest_cache/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Log Files
# ==========================
test.log
*.log

# ==========================
# Reports
# ==========================
Reports/
PROJECT_OHRM/Reports/

# ==========================
# Screenshots
# ==========================
TestFailures/
Screenshots/
PROJECT_OHRM/TestFailures/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db